* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: yellow;
    padding: 20px 80px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.nav__logo img {
    width: 150px;
    height: 50px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 30px;
}

ul {
    margin: auto;
}

.nav__links {
    margin: auto;
}

.nav__links a:hover {
    color: red;
}

.nav__btn {
    display: flex;
    align-items: center;
}

a.btn {
    padding: 10px 20px;
    background-color: red;
    border-radius: 10px;
    color: white;
    transition: 0.4s ease;
}

.btn:hover {
    background-color: green;
    color: yellow;
}