<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head')%>
</head>

<body class="body">
    <nav>
        <div class="logo">
            <img src="img/logo.png" alt="">
        </div>
        <div class="nav_bar">
            <ul>
                <li>
                    <svg class="mkdf-btn-svg-one" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 9" style="enable-background:new 0 0 26 9;" xml:space="preserve">
                        <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4
                                            H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                            C25.9,4.8,25.9,4.8,26,4.7z"></path>
                        </svg><a href="#">Нүүр</a></li>
                <li><svg class="mkdf-btn-svg-one" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 9" style="enable-background:new 0 0 26 9;" xml:space="preserve">
                <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4
                                    H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                    C25.9,4.8,25.9,4.8,26,4.7z"></path>
                </svg><a href="#strategy">Өсөлт хөгжил</a>
                </li>
                <li><svg class="mkdf-btn-svg-one" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 9" style="enable-background:new 0 0 26 9;" xml:space="preserve">
                <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4
                                    H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                    C25.9,4.8,25.9,4.8,26,4.7z"></path>
                </svg><a href="#strategy_bottom">Гүйцэтгэл</a>
                </li>
                <li><svg class="mkdf-btn-svg-one" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 9" style="enable-background:new 0 0 26 9;" xml:space="preserve">
                <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4
                                    H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                    C25.9,4.8,25.9,4.8,26,4.7z"></path>
                </svg><a href="#advantage">Онцлог</a>
                </li>
                <!-- <li><svg class="mkdf-btn-svg-one" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 9" style="enable-background:new 0 0 26 9;" xml:space="preserve">
                <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4
                                    H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                    C25.9,4.8,25.9,4.8,26,4.7z"></path>
                </svg><a href="#">Бидний тухай</a>
                </li> -->
                <li><svg class="mkdf-btn-svg-one" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 9" style="enable-background:new 0 0 26 9;" xml:space="preserve">
                <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4
                                    H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                    C25.9,4.8,25.9,4.8,26,4.7z"></path>
                </svg><a href="#contact">Холбогдох</a>
                </li>
                <!-- <li><svg class="mkdf-btn-svg-one" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 9" style="enable-background:new 0 0 26 9;" xml:space="preserve">
                <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4
                                    H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                    C25.9,4.8,25.9,4.8,26,4.7z"></path>
                </svg><a href="#">Internship</a>
                </li> -->
            </ul>
        </div>
        <div class="nav_social">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
    </nav>
    <div id="nav">
        <div class="view_nav">
            <img src="/img/logo.png" alt="">
            <a href="#"><i class="fas fa-bars"></i></a>
        </div>
        <div class="clicked_nav"></div>
    </div>
    <header>
        <div class="header_container">
            <div class="header_text" data-aos="fade-left">
                <h1 class="title">Hover</h1>
                <p>Баталгаатай компани болгонд вебсайт байдаг.<br>Харин танай вебсайт хаана байна?</p>
                <div class="header_btns">
                    <div class="btn btn_header btn_orange">
                        <a href="#">
                            <svg class="mkdf-btn-svg-one header_svg_left" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 9" style="enable-background:new 0 0 26 9;" xml:space="preserve">
                        <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4
                                            H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                            C25.9,4.8,25.9,4.8,26,4.7z"></path>
                        </svg>Цааш<svg class="mkdf-btn-svg-one header_svg_right" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 9" style="enable-background:new 0 0 26 9;"
                                xml:space="preserve">
                            <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4
                                                H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                                C25.9,4.8,25.9,4.8,26,4.7z"></path>
                            </svg></a>
                    </div>
                    <div class="btn btn_header btn_blue">
                        <a href="#"><svg class="mkdf-btn-svg-one header_svg_left" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 9" style="enable-background:new 0 0 26 9;"
                            xml:space="preserve">
                        <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4
                                            H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                            C25.9,4.8,25.9,4.8,26,4.7z"></path>
                        </svg>Холбогдох
                        <svg class="mkdf-btn-svg-one header_svg_right" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 9" style="enable-background:new 0 0 26 9;"
                        xml:space="preserve">
                    <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4
                                        H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                        C25.9,4.8,25.9,4.8,26,4.7z"></path>
                    </svg></a></div>
                </div>
            </div>
            <div class="header_img " data-aos="fade-down">
                <img src="/img/header/img_1.png" class="h_img1">
                <img src="/img/header/img_2.png" class="h_img2">
                <img src="/img/header/img_3.png" class="h_img3">
                <img src="/img/header/img_4.png" class="h_img4">

            </div>
        </div>
    </header>
    <section id="strategy">
        <div class="container">
            <div class="strategy_top">
                <h2 class="section_title">Бидний өсөлт <span>хөгжил</span></h2>
                <p class="section_text">2021 оны 8 сарын 20нд үүсгэн байгуулагдсанаас хойш өнөөдрийг хүртэлх бид бүгдийн өсөлт, хөгжил дэвшлийг танд танилцуулъя.</pc>
            </div>
            <div class="strategy_bottom s_first" data-aos="fade-up">
                <div class="strategy_bot_container">
                    <span class="main_line"></span>
                    <div class="strategy_bot_area s_left">
                        <span class="line"></span>
                        <div class="curve_line_1"></div>
                        <div class="curve_line_2"></div>
                        <div class="curve_line_3"></div>
                        <div class="strategy_bot_items s_area_1">
                            <div class="strategy_img s_img1" data-aos="fade-left"><img src="/img/strategy/img_1.png" alt=""></div>
                            <div class="strategy_text">
                                <span class="circle"></span>
                                <h5>8 сарын 20</h5>
                                <p>HOVER веб хөгжүүлэлтийн компани нь МөнхОд, Билгүүн, Эрдэмсайханы хамтаар үүсгэн байгуулагдав. Эхний 7 хоногт 4 төрлийн төслийн гүйцэлдүүлэн дуусгав.</p>
                            </div>
                        </div>
                    </div>
                    <div class="strategy_bot_area s_right">

                        <span class="line line_half"></span>
                        <div class="curve_line_1"></div>
                        <div class="curve_line_2"></div>
                        <div class="curve_line_3"></div>
                        <div class="strategy_bot_items s_area_2">
                            <div class="strategy_img s_img2" data-aos="fade-rigth"><img class="eye" src=" /img/strategy/img_2.png " alt=" "></div>
                            <div class="strategy_text ">
                                <span class="circle "></span>
                                <h5>8 сарын 27</h5>
                                <p>HOVER веб хөгжүүлэлтийн компани нь МөнхОд, Билгүүн, Эрдэмсайханы хамтаар үүсгэн байгуулагдав. Эхний 7 хоногт 4 төрлийн төслийн гүйцэлдүүлэн дуусгав.</p>
                            </div>
                        </div>
                    </div>
                    <div class="strategy_bot_area s_left ">
                        <span class="line line_white"></span>
                        <div class="curve_line_1 "></div>
                        <div class="curve_line_2 "></div>
                        <div class="curve_line_3 "></div>
                        <div class="strategy_bot_items s_area_1 ">
                            <div class="strategy_img  s_img1 " data-aos="fade-left"><img src="/img/strategy/img_3.png " alt=" "></div>
                            <div class="strategy_text ">
                                <span class="circle "></span>
                                <h5>9 сарын 3</h5>
                                <p>HOVER веб хөгжүүлэлтийн компани нь МөнхОд, Билгүүн, Эрдэмсайханы хамтаар үүсгэн байгуулагдав. Эхний 7 хоногт 4 төрлийн төслийн гүйцэлдүүлэн дуусгав.</p>
                            </div>
                        </div>
                    </div>
                    <div class="strategy_bot_area s_right ">

                        <span class="line line_white"></span>

                        <div class="strategy_bot_items s_area_2 ">
                            <div class="strategy_img s_img2" data-aos="fade-right"><img src="/img/strategy/img_4.png " alt=" "></div>
                            <div class="strategy_text ">
                                <span class="circle "></span>
                                <h5>9 сарын 10</h5>
                                <p>HOVER веб хөгжүүлэлтийн компани нь МөнхОд, Билгүүн, Эрдэмсайханы хамтаар үүсгэн байгуулагдав. Эхний 7 хоногт 4 төрлийн төслийн гүйцэлдүүлэн дуусгав.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="strategy_last" id='strategy_bottom'>
                <div class="s_last_img ">
                    <img src="/img/strategy/grow_up.png " alt=" " data-aos="fade-right">
                    <img src="/img/strategy/grow_up_1.png " class="st_img1" data-aos="fade-left">
                </div>
                <div class="s_last_text ">
                    <h2 class="section_title ">Ажил гүйцэтгэлийн үнэлэмж</h2>
                    <div class="s_last_holder ">
                        <div class="p "><span class="s_last_title ">Хөгжүүлэлтийн чадвар</span><span class="percent_holder "><span class="percent ">60</span></span>
                        </div>
                        <div class="s_last_content_holder ">
                            <div class="s_last_content " data-percentage='60'></div>
                        </div>
                    </div>
                    <div class="s_last_holder ">
                        <div class="p "><span class="s_last_title ">Харилцагчийн сэтгэл ханамж</span><span class="percent_holder percent_holder_2 "><span class="percent ">94</span></span>
                        </div>
                        <div class="s_last_content_holder ">
                            <div class="s_last_content s_last_content_2 " data-percentage='94'></div>
                        </div>
                    </div>
                    <div class="s_last_holder ">
                        <div class="p "><span class="s_last_title ">Гүйцэтгэл</span><span class="percent_holder percent_holder_3 "><span class="percent ">82</span></span>
                        </div>
                        <div class="s_last_content_holder ">
                            <div class="s_last_content s_last_content_3 " data-percentage='82'></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <section id="advantage">
        <div class="container ">
            <div class="advantages ">
                <div class="advantage ">
                    <img class="a_img" src="/img/advantage/img_1.png " alt=" ">
                    <div class="advantage_text ">
                        <h3 class="text_title ">Чанар </h3>
                        <p>Үйлчлүүлэгчдийн бизнес амжилтанд хүрэх нь бид өөрсдөө амжилтанд хүрсэн...</p>
                        <a href="# ">Цааш<span class="btn_plus "><i class="fas fa-plus "></i></span></a>
                    </div>
                </div>
                <div class="advantage ">
                    <img class="a_img" src="/img/advantage/img_2.png " alt=" ">
                    <div class="advantage_text ">
                        <h3 class="text_title ">Шинэлэг</h3>
                        <p>Цаг хугацаа урсан өнгөрөхийн хэрээр юмс хуучирдаг. Харин бид цаг...</p>
                        <a href="# ">Цааш<span class="btn_plus "><i class="fas fa-plus "></i></span></a>
                    </div>
                </div>
                <div class="advantage ">
                    <img class="a_img" src="/img/advantage/img_3.png " alt=" ">
                    <div class="advantage_text ">
                        <h3 class="text_title ">Хурд</h3>
                        <p>Манай үйлчлүүлэгчдийн хувьд цаг бол алт мэт байдаг. Тийм ч учраас...</p>
                        <a href="# ">Цааш<span class="btn_plus "><i class="fas fa-plus "></i></span></a>
                    </div>
                </div>
                <div class="advantage ">
                    <img class="a_img" src="/img/advantage/img_4.png " alt=" ">
                    <div class="advantage_text ">
                        <h3 class="text_title ">Баталгаа</h3>
                        <p>Бусад танилцуулах вебсайтууд шиг баталгааг бид танд өгч чадна...</p>
                        <a href="# ">Цааш<span class="btn_plus "><i class="fas fa-plus "></i></span></a>
                    </div>
                </div>
                <div class="advantage ">
                    <img class="a_img" src="/img/advantage/img_5.png " alt=" ">
                    <div class="advantage_text ">
                        <h3 class="text_title ">Аюулгүй байдал</h3>
                        <p>Үйлчлүүлэгчдийн бизнес амжилтанд хүрэх нь бид өөрсдөө амжилтанд хүрсэн...</p>
                        <a href="# ">Цааш<span class="btn_plus "><i class="fas fa-plus "></i></span></a>
                    </div>
                </div>
                <div class="advantage ">
                    <img class="a_img" src="/img/advantage/img_6.png " alt=" ">
                    <div class="advantage_text ">
                        <h3 class="text_title ">Blockchain</h3>
                        <p>Үйлчлүүлэгчдийн бизнес амжилтанд хүрэх нь бид өөрсдөө амжилтанд хүрсэн...</p>
                        <a href="# ">Цааш<span class="btn_plus "><i class="fas fa-plus "></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="usage">
        <div class="container">
            <div class="usage_content">
                <h2 class="section_title ">Залуу сэтгэлгээг ашигла.</h2>
                <li>
                    <i class="fas fa-check "></i>
                    <p>Тасралтгүй хөгжих залуу сэтгэлгээг өөрийн бизнестээ хэрхэн ашиглахаа бод бод ах эгч нар минь.</p>
                </li>
                <li>
                    <i class="fas fa-check "></i>
                    <p>21-р зууны залуучуудыг 21-р зууны бизнестээ туслуул. Тохиромжтой үеийнхнийг тохирсон цагт нь...</p>
                </li>
                <div class="btn btn_usage btn_blue ">
                    <a href="# ">
                        <svg class="mkdf-btn-svg-one header_svg_left " version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 26 9 " style="enable-background:new 0 0 26 9;
                                    " xml:space="preserve ">
                    <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4 H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                    C25.9,4.8,25.9,4.8,26,4.7z "></path>
                    </svg>Цааш<svg class="mkdf-btn-svg-one header_svg_right " version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 26 9 " style="enable-background:new 0 0 26 9; "
                            xml:space="preserve ">
                        <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4 H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                    C25.9,4.8,25.9,4.8,26,4.7z "></path>
                        </svg></a>
                </div>
            </div>
            <div class="usage_img ">
                <img src="/img/usage/img_1.png " data-aos="zoom-in">
                <img class="usage_img_1 " src="/img/usage/img_2.png " data-aos="fade-right" class='usage_img_1'>
                <img class="usage_img_2 " src="/img/usage/img_3.png " data-aos="fade-down" class='usage_img_2'>
            </div>
        </div>
    </section>
    <section id="suggest">
        <div class="container">
            <h2 class="section_title ">Бид юуг санал болгох вэ?</h2>
            <div class="anything ">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id='quality' onclick="back_quality()" >
                        <span><i></i></span>
                    </label>
                    <h1>чанар</h1>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id='fast' onclick="back_fast()">
                        <span><i></i></span>
                    </label>
                    <h1>хурдан</h1>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id='cheap' onclick="back_cheap()" >
                        <span><i></i></span>
                    </label>
                    <h1>хямд</h1>
                </div>

            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container ">
            <div class="contact_content" data-aos="fade-right">
                <h1 class="title ">Бидэнтэй холбогдох</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, nostrum.</p>
                <div class="header_btns ">
                    <div class="btn btn_header btn_orange ">
                        <a href="# ">
                            <svg class="mkdf-btn-svg-one header_svg_left " version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 26 9 " style="enable-background:new 0 0 26 9;
                                    " xml:space="preserve ">
                    <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4 H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                    C25.9,4.8,25.9,4.8,26,4.7z "></path>
                    </svg>Цааш<svg class="mkdf-btn-svg-one header_svg_right " version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 26 9 " style="enable-background:new 0 0 26 9; "
                                xml:space="preserve ">
                        <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4 H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                    C25.9,4.8,25.9,4.8,26,4.7z "></path>
                        </svg></a>
                    </div>
                    <div class="btn btn_header btn_blue ">
                        <a href="# "><svg class="mkdf-btn-svg-one header_svg_left " version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 26 9 " style="enable-background:new 0 0
                                    26 9; "
                        xml:space="preserve ">
                    <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4 H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                    C25.9,4.8,25.9,4.8,26,4.7z "></path>
                    </svg>Холбогдох
                    <svg class="mkdf-btn-svg-one header_svg_right " version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 26 9 " style="enable-background:new 0 0 26 9; "
                    xml:space="preserve ">
                <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4 H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5 C25.9,4.8,25.9,4.8,26,4.7z "></path>
                </svg></a></div>
                </div>
            </div>
            <div class="contact_img" data-aos="fade-up">
                <div class="c_1"><img class="c_img_2 " src="/img/contact/img_2.png " data-aos="zoom-in"></div>
                <div class="c_2"><img class="c_img_1 " data-aos="fade-down" src="/img/contact/img_1.png " alt=" "></div>
                <div class="c_3"><img class="c_img_3 " data-aos="zoom-in-left" src="/img/contact/img_3.png " alt=" "></div>
                <div class="c_4"><img class="c_img_4 " data-aos="zoom-in-right" src="/img/contact/img_4.png " alt=" "></div>
            </div>
            <div class="contact_form ">
                <h2 class="section_title ">Шинэ эхлэл ба career</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas laudantium in est ut doloribus placeat.</p>
                <div class="form ">
                    <form action=" ">
                        <input type="text " placeholder="Та И-Мэйл хаягаа бичнэ үү. ">

                    </form>
                    <div class="btn btn_header btn_contact btn_orange ">
                        <a href="# ">
                            <svg class="mkdf-btn-svg-one header_svg_left " version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 26 9 " style="enable-background:new 0 0 26 9;
                                    " xml:space="preserve ">
                    <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4 H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                    C25.9,4.8,25.9,4.8,26,4.7z "></path>
                    </svg>Илгээх<svg class="mkdf-btn-svg-one header_svg_right " version="1.1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px " viewBox="0 0 26 9 " style="enable-background:new 0 0 26
                                    9; " xml:space="preserve ">
                        <path d="M26,4.7C26,4.6,26,4.4,26,4.3c0-0.1-0.1-0.1-0.1-0.2l-3.5-3.5c-0.2-0.2-0.5-0.2-0.7,0s-0.2,0.5,0,0.7L24.3,4 H0.5C0.2,4,0,4.2,0,4.5S0.2,5,0.5,5h23.8l-2.7,2.7c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1s0.3,0,0.4-0.1l3.5-3.5
                                    C25.9,4.8,25.9,4.8,26,4.7z "></path>
                        </svg></a>
                    </div>
                </div>
            </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        var cheap = document.getElementById('cheap');
        var fast = document.getElementById('fast');
        var quality = document.getElementById('quality');
        cheap.checked = false;
        fast.checked = false;
        quality.checked = false;
        var cheap1 = false;
        var fast1 = false;
        var quality1 = false;

        document.addEventListener("scroll", event => {
            var top = document.getElementById('suggest').offsetTop
            if ((window.scrollY) >= (top - (window.innerHeight / 2))) {
                quality.checked = true
                quality1 = true
                back_cheap();
                back_quality();
                back_fast();
            }
            if ((window.scrollY) < (top - (window.innerHeight / 2))) {

                quality.checked = false;
                quality1 = false;
                back_cheap();
                back_quality();
                back_fast();
            }

        });

        function back_cheap() {
            cheap1 = document.getElementById('cheap').checked;
            if ((fast1) && (quality1)) {
                if (cheap1) {
                    quality.checked = false;
                    fast.checked = false;
                    quality1 = false;
                    fast1 = false;
                }
            }

        }

        function back_fast() {
            fast1 = document.getElementById('fast').checked;
            if ((cheap1) && (quality1)) {
                if (fast1) {
                    quality.checked = false;
                    cheap.checked = false;
                    quality1 = false;
                    cheap1 = false;
                }
            }
        }

        function back_quality() {
            quality1 = document.getElementById('quality').checked;
            if ((cheap1) && (fast1)) {
                if (quality1) {
                    fast.checked = false;
                    cheap.checked = false;
                    fast1 = false;
                    cheap1 = false;
                }
            }

        }
        document.querySelector('.body').addEventListener('mousemove', eyeball)

        function eyeball() {
            const eye = document.querySelectorAll('.eye');
            eye.forEach(function(eye) {
                let x = (eye.getBoundingClientRect().left) + (eye.clientWidth / 2);
                let y = (eye.getBoundingClientRect().top) + (eye.clientHeight / 2);

                let radian = Math.atan2(event.pageX - x, event.pageY - y);
                let rotation = (radian * (180 / Math.PI) * -1) + 270;
                eye.style.transform = "rotate(" + rotation + "deg)"
            })
        }
    </script>
    <script type="text/javascript">
        AOS.init({
            duration: 1000,
        });
    </script>
</body>

</html>