.contact_form {
    display: none;
}

#contact {
    background-image: url('/img/contact/contact_bg.jpg');
    background-size: 120% 200%;
    background-repeat: no-repeat;
    max-width: 1920px;
    float: right;
    width: calc(100vw - 300px);
}

#contact .container {
    width: calc(100vw - 300px);
    margin-left: 0;
    overflow: hidden;
}

.contact_content {
    max-width: calc(55% - 300px);
    margin: auto 0;
    padding-left: 10%;
    padding-top: 10%;
    position: absolute;
    z-index: 5;
}

.contact_content .title {
    font-size: 75px;
    color: #fff;
    white-space: normal;
    margin-bottom: 15px;
}

.contact_content p {
    color: rgb(207, 211, 229);
    margin-bottom: 40px;
}

#contact .btn_orange {
    margin-right: 15px;
    display: none;
}

.contact_form {
    text-align: center;
    margin-top: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_form .section_title {
    color: var(--font-title-color);
    margin-bottom: 15px;
}

.contact_form p {
    max-width: 480px;
}

form {
    float: left;
    color: #08104d;
    border: none;
    border-bottom: 1px solid;
}

.btn_contact {
    float: right;
}

.form {
    display: none;
    align-items: center;
}

.contact_img {
    display: table;
    width: 100%;
    height: 100vh;
    position: relative;
}

.c_img_1 {
    width: 13vw;
    position: sticky;
    animation: none;
}

.c_img_2 {
    width: 4vw;
    position: sticky;
}

.c_img_3 {
    width: 11vw;
    position: sticky;
    animation: none;
}

.c_img_4 {
    width: 18vw;
    position: sticky;
    animation: none;
}

.contact_img div {
    position: absolute;
    display: inline-block;
}

.c_1 {
    top: 16%;
    left: 74%;
    animation: c_1 infinite 2s;
}

@keyframes c_1 {
    0% {
        top: 16%;
        left: 74%;
    }
    5% {
        top: 16.1%;
        left: 74.1%;
    }
    10% {
        top: 16.2%;
        left: 74.2%;
    }
    15% {
        top: 16.3%;
        left: 74.3%;
    }
    20% {
        top: 16.4%;
        left: 74.4%;
    }
    25% {
        top: 16.5%;
        left: 74.5%;
    }
    30% {
        top: 16.4%;
        left: 74.6%;
    }
    35% {
        top: 16.3%;
        left: 74.7%;
    }
    40% {
        top: 16.2%;
        left: 74.8%;
    }
    45% {
        top: 16.1%;
        left: 74.9%;
    }
    50% {
        top: 16%;
        left: 75%;
    }
    55% {
        top: 15.9%;
        left: 74.9%;
    }
    60% {
        top: 15.8%;
        left: 74.8%;
    }
    65% {
        top: 15.7%;
        left: 74.7%;
    }
    70% {
        top: 15.6%;
        left: 74.6%;
    }
    75% {
        top: 15.5%;
        left: 74.5%;
    }
    80% {
        top: 15.6%;
        left: 74.4%;
    }
    85% {
        top: 15.7%;
        left: 74.3%;
    }
    90% {
        top: 15.8%;
        left: 74.2%;
    }
    95% {
        top: 15.9%;
        left: 74.1%;
    }
    100% {
        top: 16%;
        left: 74%;
    }
}

.c_2 {
    top: 54%;
    left: 58%;
}

.c_3 {
    top: 50%;
    right: 0;
    animation: c_3 infinite 4s;
}

@keyframes c_3 {
    0% {
        top: 50%;
        right: 0;
    }
    50% {
        top: 58%;
        right: 12%;
    }
    100% {
        top: 50%;
        right: 0;
    }
}

.c_4 {
    top: 67%;
    left: 46%;
    animation: c_4 infinite 4s;
}

@keyframes c_4 {
    0% {
        top: 80%;
        left: 28%;
    }
    50% {
        top: 67%;
        left: 46%;
    }
    100% {
        top: 80%;
        left: 28%;
    }
}