    header {
        background-image: url('/img/header_bg.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        max-width: 1920px;
        height: 81.4vw;
        margin-top: -15%;
        margin-right: -6vw;
    }
    
    .header_container {
        position: relative;
        width: calc(100% - 300px);
        margin-left: auto;
        margin-right: 0;
    }
    
    .header_text {
        padding-left: 3%;
        position: absolute;
        margin-top: 40%;
        z-index: 10;
    }
    
    .title {
        font-size: 80px;
        line-height: 75px;
        white-space: nowrap;
        letter-spacing: -3px;
        color: var(--font-title-color);
        font-weight: 700;
    }
    
    .header_text h1 {
        margin-bottom: 1rem;
    }
    
    .header_text p {
        margin-bottom: 2rem;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
    }
    
    .header_svg_left {
        display: none;
    }
    
    .header_svg_right {
        margin-left: 10px;
        fill: #fff;
    }
    
    .btn {
        padding: 0.8rem 2rem;
        border: 2px solid transparent;
        border-radius: 10px;
        display: inline-block;
        cursor: pointer;
    }
    
    .btn_orange {
        background: var(--orange-color);
    }
    
    header .btn_orange {
        margin-right: 15px;
    }
    
    .btn_blue {
        background: var(--font-title-color);
    }
    
    .btn a {
        color: #fff;
    }
    
    .header_img {
        width: 100%;
        display: table;
        height: 100vh;
    }
    
    .header_img img {
        position: sticky;
    }
    
    .h_img1 {
        width: 50px;
        margin-top: 33%;
        margin-left: 43%;
        animation: aroundMove1 infinite 2s;
    }
    
    @keyframes aroundMove1 {
        0% {
            margin-top: 34%;
            margin-left: 40%;
        }
        5% {
            margin-top: 34.1%;
            margin-left: 40.1%;
        }
        10% {
            margin-top: 34.2%;
            margin-left: 40.2%;
        }
        15% {
            margin-top: 34.3%;
            margin-left: 40.3%;
        }
        20% {
            margin-top: 34.4%;
            margin-left: 40.4%;
        }
        25% {
            margin-top: 34.5%;
            margin-left: 40.5%;
        }
        30% {
            margin-top: 34.4%;
            margin-left: 40.6%;
        }
        35% {
            margin-top: 34.3%;
            margin-left: 40.7%;
        }
        40% {
            margin-top: 34.2%;
            margin-left: 40.8%;
        }
        45% {
            margin-top: 34.1%;
            margin-left: 40.9%;
        }
        50% {
            margin-top: 34%;
            margin-left: 41%;
        }
        55% {
            margin-top: 33.9%;
            margin-left: 40.9%;
        }
        60% {
            margin-top: 33.8%;
            margin-left: 40.8%;
        }
        65% {
            margin-top: 33.7%;
            margin-left: 40.7%;
        }
        70% {
            margin-top: 33.6%;
            margin-left: 40.6%;
        }
        75% {
            margin-top: 33.5%;
            margin-left: 40.5%;
        }
        80% {
            margin-top: 33.6%;
            margin-left: 40.4%;
        }
        85% {
            margin-top: 33.7%;
            margin-left: 40.3%;
        }
        90% {
            margin-top: 33.8%;
            margin-left: 40.2%;
        }
        95% {
            margin-top: 33.9%;
            margin-left: 40.1%;
        }
        100% {
            margin-top: 34%;
            margin-left: 40%;
        }
    }
    
    .h_img2 {
        width: 55px;
        margin-bottom: -15%;
        margin-left: 17%;
        /* animation: aroundMove2 infinite 1s; */
    }
    /* @keyframes aroundMove2 {
    0% {
        margin-bottom: 34%;
        margin-left: 17%;
    }
    5% {
        margin-bottom: 34.1%;
        margin-left: 40.1%;
    }
    10% {
        margin-bottom: 34.2%;
        margin-left: 40.2%;
    }
    15% {
        margin-bottom: 34.3%;
        margin-left: 40.3%;
    }
    20% {
        margin-bottom: 34.4%;
        margin-left: 40.4%;
    }
    25% {
        margin-bottom: 34.5%;
        margin-left: 40.5%;
    }
    30% {
        margin-bottom: 34.4%;
        margin-left: 40.6%;
    }
    35% {
        margin-bottom: 34.3%;
        margin-left: 40.7%;
    }
    40% {
        margin-bottom: 34.2%;
        margin-left: 40.8%;
    }
    45% {
        margin-bottom: 34.1%;
        margin-left: 40.9%;
    }
    50% {
        margin-bottom: 34%;
        margin-left: 41%;
    }
    55% {
        margin-bottom: 33.9%;
        margin-left: 40.9%;
    }
    60% {
        margin-bottom: 33.8%;
        margin-left: 40.8%;
    }
    65% {
        margin-bottom: 33.7%;
        margin-left: 40.7%;
    }
    70% {
        margin-bottom: 33.6%;
        margin-left: 40.6%;
    }
    75% {
        margin-bottom: 33.5%;
        margin-left: 40.5%;
    }
    80% {
        margin-bottom: 33.6%;
        margin-left: 40.4%;
    }
    85% {
        margin-bottom: 33.7%;
        margin-left: 40.3%;
    }
    90% {
        margin-bottom: 33.8%;
        margin-left: 40.2%;
    }
    95% {
        margin-bottom: 33.9%;
        margin-left: 40.1%;
    }
    100% {
        margin-bottom: 34%;
        margin-left: 40%;
    }
}
    */
    
    .h_img3 {
        width: 15%;
        margin-bottom: -24%;
        margin-left: 80%;
        animation: move1 infinite 4s;
    }
    
    @keyframes move1 {
        0% {
            margin-bottom: -24%;
            margin-left: 80%;
        }
        50% {
            margin-bottom: -33%;
            margin-left: 65%;
        }
        100% {
            margin-bottom: -24%;
            margin-left: 80%;
        }
    }
    
    .h_img4 {
        width: 12%;
        margin-bottom: -40%;
        margin-left: 58%;
        animation: move2 infinite 4s;
    }
    
    @keyframes move2 {
        0% {
            margin-bottom: -47%;
            margin-left: 47%;
        }
        50% {
            margin-bottom: -37%;
            margin-left: 61%;
        }
        100% {
            margin-bottom: -47%;
            margin-left: 47%;
        }
    }
    
    .btn:hover .header_svg_left {
        display: inline-block;
        margin-right: 10px;
        fill: #fff;
        transition: 0.5s ease-in;
    }
    
    .btn:hover .header_svg_right {
        display: none;
        transition: 0.5s ease-out;
    }